* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 250ms linear;
}

.gallery-image:hover {
  transform: scale(1.04);
}
